body {
    background-color: #dce7f8;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #252379;
}

h1 {
    display: inline-block;
    position: absolute;
    font-size: 25px;
    margin: 2.6rem 0 0 7rem;
}

.main{
    display:block;
    position: absolute;
    margin: 1rem;
    height: 5rem;
    width: 5rem;
}

.aboutDatabase {
    display:block;
    position: absolute;
    width: 58.1rem;
    height: 37rem;
    margin: 0 0 0 65rem;
}

.home {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    height: 3rem;
    width: 9rem;
    background-color: #dce7f8;
    border: none;
    border-radius: 5%;
    font-weight: bold;
    color: #252379;
    margin: 2rem 0 0 45rem;
    cursor: pointer;
}

.about {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    height: 3rem;
    width: 9rem;
    background-color: #dce7f8;
    border: none;
    border-radius: 5%;
    font-weight: bold;
    color: #252379;
    margin: 2rem 0 0 55rem;
    cursor: pointer;
}

.contact {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    height: 3rem;
    width: 9rem;
    background-color: #dce7f8;
    border: none;
    border-radius: 5%;
    font-weight: bold;
    color: #252379;
    margin: 2rem 0 0 65rem;
    cursor: pointer;
}

.home:hover {
    background-color: #a2c7ff;
}

.about:hover {
    background-color: #a2c7ff;
}

.contact:hover {
    background-color: #a2c7ff;
}

.home:active {
    background-color: #7094ca;
}

.about:active {
    background-color: #7094ca;
}

.contact:active {
    background-color: #7094ca;
}

.reg {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    height: 3rem;
    width: 9rem;
    margin: 2rem 0 0 75rem;;
    border: none;
    border-radius: 5%;
    font-size: 20px;
    background-color: #252379;
    color: white;
    font-weight: bold ;
    cursor: pointer;
    box-shadow: 1px 1px 5px grey;
}

.reg:hover {
    background-color: #312faa;
}

.log {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    height: 3rem;
    width: 9rem;
    margin: 2rem 0 0 85rem;;
    border: none;
    border-radius: 5%;
    font-size: 20px;
    background-color: #ffffff;
    color: #252379;
    font-weight: bold ;
    cursor: pointer;
    box-shadow: 1px 1px 5px grey;
}

.log:hover {
    background-color: #cccccc;
}

.contactDoctor {
    display: block;
    position: absolute;
    height: 45.5rem;
    width: 45rem;
    margin: 0 51rem 0 0;
}

.contactHead {
    font-size: 40px;
    margin: 10rem 5rem 5rem 45rem;
}

.phoneIcon {
    display: inline-block;
    position: absolute;
    height: 3.3rem;
    width: 5.3rem;
    margin: 15.7rem 10rem 10rem 78rem;
}

.mailIcon {
    display: inline-block;
    position: absolute;
    height: 3rem;
    width: 5rem;
    margin: 16rem 5rem 10rem 58rem;
}

.phonePara {
    display: inline-block;
    position: absolute;
    text-align: center;
    margin: 20rem 10rem 10rem 76.7rem;
    color: black;
}

.mailPara {
    display: inline-block;
    position: absolute;
    text-align: center;
    margin: 20rem 5rem 10rem 53rem;
    color: black;
}

.follow {
    display: inline-block;
    position: absolute;
    color: #252379;
    font-size: 40px;
    margin: 27rem 5rem 5rem 45rem;
}

.socialIcon {
    display: inline-block;
    position: absolute;
    height: 5rem;
    width: 27.4rem;
    margin: 32rem 5rem 5rem 56.7rem;
}


