body {
    background-color: #dce7f8;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    margin-top: 3rem;
    font-family: sans-serif;
    color: #252379;
}

.top {
    display: inline-block;
}

.top .main {
    display: inline-block;
    position: relative;
    margin: 1rem;
    height: 5rem;
    width: 5rem;
}

.nav {

    font-size: 20px;
    position: absolute;
    list-style-type: none;
    display: inline-block;
    background-color: #dce7f8;
    padding: 1rem;
    border-width: 0.5rem;
    margin-top: 2rem;
    margin-left: 30rem;
}

.nav li{
    
    display: inline-block;
    text-align: center;
}

.nav a {
    text-decoration: none;
    padding: 1rem 3rem;
    font-weight: bold ;
    color: #252379;
    font-family: sans-serif;
}
.nav a:hover {
    background-color: #a2c7ff;
}

.log {
    position: absolute;
    margin-left: 63rem;
    margin-top: 2.2rem;
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 5%;
    font-size: 20px;
    background-color: #ffffff;
    color: #252379;
    font-weight: bold ;
    cursor: pointer;
    font-family: sans-serif;
    box-shadow: 1px 1px 5px grey;
}

.mid .regHead {
    display: inline-block;
    position: absolute;
    margin: 2rem 10rem 10rem 5rem;
    color: #252379;
    font-size: 40px;
}

.mid .nameLabel{
    display: inline-block;
    position: absolute;
    margin: 8rem 10rem 10rem 5rem;
    color: #252379;
    font-size: 20px;
}

.mid .nameInput{
    display: inline-block;
    position: absolute;
    margin: 9rem 10rem 10rem 5rem;
    background-color: #dce7f8;
    width: 25rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 1rem;
    font-size: 20px;
    border-color: #252379;
}

.mid .emailLabel{
    display: inline-block;
    position: absolute;
    margin: 13rem 10rem 10rem 5rem;
    color: #252379;
    font-size: 20px;
}

.mid .emailInput{
    display: inline-block;
    position: absolute;
    margin: 14rem 10rem 10rem 5rem;
    background-color: #dce7f8;
    width: 25rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 1rem;
    font-size: 20px;
    border-color: #252379;
}

.mid .passwordLabel{
    display: inline-block;
    position: absolute;
    margin: 18rem 10rem 10rem 5rem;
    color: #252379;
    font-size: 20px;
}

.mid .passwordInput{
    display: inline-block;
    position: absolute;
    margin: 19rem 10rem 10rem 5rem;
    background-color: #dce7f8;
    width: 25rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 1rem;
    font-size: 20px;
    border-color: #252379;
}

.mid .submitInput{
    display: inline-block;
    position: absolute;
    margin: 24rem 10rem 10rem 14rem;
    position: absolute;
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 5%;
    font-size: 20px;
    background-color: #252379;
    color: white;
    font-weight: bold ;
    cursor: pointer;
    font-family: sans-serif;
    box-shadow: 1px 1px 5px grey;
}

.top .registerImage {
    position: absolute;
    height: 45.5rem;
    width: 45rem;
    margin: 0 0 0 51rem;
}