.main {
    position: absolute;
    top: 10%;
    right: 10%;
    box-sizing: border-box;
    padding: 100px;
    width: 500px;
    height: 500px;;
    
}
h1 {
    position: absolute;
    top: 5%;
    left: 26%;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;

}
  
.main .loginwith {
    display: block;
    margin-right: 30%;
    margin-bottom: 10%;
    font-size: 30px;
    font-weight: 300;
    color: rgb(7, 7, 7);
    text-align: center;
}
  
button.social-signin_facebook {
    margin-bottom: 10%;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 4px;
    color: rgb(250, 243, 243);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
    background: #0d57ec;
}
  
button.social-signin_twitter {
    margin-bottom: 10%;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 4px;
    color: rgb(250, 243, 243);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
    background: #45adfc;
}
  
button.social-signin_google {
    margin-bottom: 10%;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 4px;
    color: rgb(250, 243, 243);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
    background: #c04737;
}